.block1 { 
 width: 10%; 
 background: #ffff00;
 float: left;
 padding-top:10px;
 padding-bottom:10px;
 text-align: center;
}
.block2 { 
 width: 10%; 
 background: #00DE00;
 float: left;  
 padding-top:10px;
 padding-bottom:10px;
 text-align: center;

}
.block3{
  width: 70%;
  margin: 0 auto;
  background: #D0F0F6;
}